.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: #000;
    box-shadow: 0 0 3px #d2d2d2;
    z-index: 20;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
}
.header__start{
    display: flex;
    height: 40px;
    line-height: 40px;
}
.header__hamburger{
    display: none;
    margin-left: 5px;
    font-size: 1.5rem;
}
.header__hamburger:hover{
    cursor: pointer;
}
.header__logo{
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 0;
    /*글자 정렬 고정*/
    white-space: nowrap;
}
.header__logo-color{
    font-size: 1.3rem;
    font-weight: bold;
    color: #ff0000;
}
.header__center{
    width: 50%;
}
.header__form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    max-width: 100%;
}
.header__input--box{
    width: calc(100% - 70px);
    height: 40px;
    border: 1px solid #d2d2d2;
    border-radius: 100px;
    padding: 0 15px;
    outline: none;
}
.header__input--button{
    cursor: pointer;
}
.header__input--box:hover{
    box-shadow: 0 0 3px #d2d2d2;
}
.search-icon{
    position: relative;
    display: none;
    color: #343434;
}
.search-icon:hover{
    cursor: pointer;
}
.header__input--button{
    background-color: #ff0000;
    border-radius: 100px;
    width: 70px;
    height: 40px;
    border: none;
    color: #fff;
    font-weight: bold;
    margin-left: 5px;
}
.header__input--button:hover{
    background-color: #e50000;
}
.header__end{
    display: flex;
    align-items: center;
    padding: 5px 0 0 0;
}
.header__icon{
    font-size: 1.5rem;
    color: #343434;
}
.header__profile{
    padding: 0 0 4px 4px;
    color: #343434;
    white-space: nowrap;
}
@media screen and (max-width: 800px){
    .header__profile{
        display: none;
    }
}
@media screen and (max-width: 400px){
    .header__input--text{
        display: none;
    }
    .header__input--button{
        display: none;
    }
    .header__start{
        text-align: center;
    }
    .header__center{
        display: none;
    }
    .search-icon{
        display: block;
        font-size: 1.4rem;
        margin-right: 5px;
    }
    .header__hamburger{
        display: block;
    }
    .header__wrapper{
        padding: 0 15px 0 15px;
        align-items: center;
    }
}